@media screen and (max-width:700px){
    span {
        display: flex;
        padding-top: 30px;
        margin-left: -20px;
       
    }
    .main {
        position: relative;
        height: 32vh;
        width: 82vw;
        padding-left: 100px;
    }
    .mini {
        position: absolute;
        border: px solid white;
        background-color: white;
        width: 80vw;
        left: 140px;
        height: 100vh;
        margin-left: -100px;
        top: 100px;
        box-shadow: 1px 0px 10px  0px black;
        /* display: flex;
        align-items: center; */
    }
    #two {
        height: 70vh;
        width: 80vw;
        margin-top: 60px;
          
    }
    h5 {
        padding: 50px 0px 10px 120px;
        font-size:medium;
        font-weight: lighter;
    }
    #five {
         padding: 0px 0px 0px 80px;
        font-weight: lighter;
        font-size:medium;
        color: rgb(58, 156, 139)
    }
    .ama {
        margin-left: 0px;
        width: 80vw;
    }
}
#vee {
    
}

